.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.shortcuts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.error {
  background-color: #f44336;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}
.timepicker {
  width: 95%;
}
.timepicker-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
